.yanone-kaffeesatz {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } html {
    background-color:rgb(230, 183, 96);
  } head {


} body {
    font-family: Yanone Kaffeesatz;


} h1 {
    text-align: center;
    padding: 17px;
    margin: -8px;
    background-color: orange;

} h2 {
    text-align: center;
    padding: 10px;
    margin: -8px;
    background-color: rgb(214, 148, 25);

} p {
  text-align: center;
  font-size: larger;
  margin: 3%;
  padding: 2%;
  background-color: rgb(89, 180, 89);
  
} .chai1 {
    border-radius: 150px;
    border: 10px solid rgb(243, 108, 84);

}
