.yanone-kaffeesatz {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } html {
    background-color:rgb(230, 183, 96);
  } body {
    font-family: Yanone Kaffeesatz;
  } h1 {
    text-align: center;
    padding: 17px;
    margin: -8px;
    background-color: orange;

} h2 {
    text-align: center;
    padding: 10px;
    margin: -8px;
    background-color: rgb(214, 148, 25);

} p {
  text-align: center;
  font-size: larger;
  margin: 3%;
  padding: 2%;
  background-color: rgb(89, 180, 89);
  
} .chai1 {
    border-radius: 150px;
    border: 10px solid rgb(243, 108, 84);

} .tejday {
  text-decoration: underline;

} ul {
  list-style-type: none;
  overflow: hidden;
  background-color: lightblue;
  font-size: larger;
  padding: 3px;
  margin: -8px;

} ul li {
  float: left;

} ul li a {
display: flex;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;

} ul li a:hover {
  padding: 16px;
  margin: -8px;
  background-color: lightseagreen;

} ul li a.active {
  background-color: #04AA6D;
} 
